<div class="w-full flex justify-between items-center my-4 sm:my-0 sm:h-[10vh]">
    <div class="flex items-center">
        <img src="{{ url_for('static', filename='img/carnivalLogo.png') }}" alt="logo carnival" class="sm:w-40 w-28 sm:ml-8 sm:mt-6 ">
        {% if showAPK != True %}
        <button onclick="downloadApk()" class="h-fit sm:ml-8 p-2 bg-pink-600 text-white rounded-full flex justify-center items-center">
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-6 h-6" viewBox="0 0 576 512">                
                <path d="M420.6 301.9a24 24 0 1 1 24-24 24 24 0 0 1 -24 24m-265.1 0a24 24 0 1 1 24-24 24 24 0 0 1 -24 24m273.7-144.5 47.9-83a10 10 0 1 0 -17.3-10h0l-48.5 84.1a301.3 301.3 0 0 0 -246.6 0L116.2 64.5a10 10 0 1 0 -17.3 10h0l47.9 83C64.5 202.2 8.2 285.6 0 384H576c-8.2-98.5-64.5-181.8-146.9-226.6"/>
            </svg>            
        </button>
        {% endif %}
    </div>
    
    <div class="flex justify-between items-center">
        <h2 class="font-semibold">{{ userHeader }}</h2>
        <a {% if showAPK == True %} href="/registro/cliente" {% else %} href="/registro/logout" {% endif %} class="bg-pink-600 hover:bg-pink-800 h-fit py-2 px-4 rounded-xl text-white mx-8">
            <p class="sm:block hidden">Cerrar sesion</p>
            <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4 sm:hidden" viewBox="0 0 512 512">                
                <path d="M377.9 105.9L500.7 228.7c7.2 7.2 11.3 17.1 11.3 27.3s-4.1 20.1-11.3 27.3L377.9 406.1c-6.4 6.4-15 9.9-24 9.9c-18.7 0-33.9-15.2-33.9-33.9l0-62.1-128 0c-17.7 0-32-14.3-32-32l0-64c0-17.7 14.3-32 32-32l128 0 0-62.1c0-18.7 15.2-33.9 33.9-33.9c9 0 17.6 3.6 24 9.9zM160 96L96 96c-17.7 0-32 14.3-32 32l0 256c0 17.7 14.3 32 32 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32l-64 0c-53 0-96-43-96-96L0 128C0 75 43 32 96 32l64 0c17.7 0 32 14.3 32 32s-14.3 32-32 32z"/>
            </svg>
        </a>
    </div>
</div>
{% if showAPK != True %}
<script>
    function downloadApk() {
        var apkUrl = '/registro/static/apk/remisiones.apk';

        var link = document.createElement('a');
        link.href = apkUrl;
        link.download = 'tu_archivo.apk';
        document.body.appendChild(link);
        link.click();
        document.body.removeChild(link);
    }
</script>
{% endif %}