{% extends 'partials/base.html' %}

{% block body %}
    
    <body class="w-screen flex justify-center items-center flex-col">
        {% set userHeader = user %}
        {% include 'partials/header.html' %}
        
        <div class="flex flex-wrap justify-center h-[90vh] sm:pt-8 pt-2 pb-4">
            
            <div class="sm:w-[5vw] sm:h-full flex justify-center">
                {% set current = 'remission' %}
                {% set canDoBar = canDo %}
                {% include 'partials/floatingBar.html' %}
            </div>

            <div class="sm:w-[70vw] sm:h-full w-full flex flex-col items-center sm:pt-8 pt-4">
                <div class="flex items-center mb-4">
                    <p class="font-bold text-xl mx-8">Lista de remisiones</p>
                                        
                    {% if 'crearRemision' in canDo %}
                    <button data-modal-target="authentication-modal" data-modal-toggle="authentication-modal" class="block w-fit h-fit p-4 text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-full text-sm text-center " type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 448 512">
                            <path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z"/>
                        </svg>
                    </button>
                    
                    
                    <div id="authentication-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto  fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 max-h-full w-full sm:w-fit">
                            
                            <div class="relative bg-white rounded-lg shadow w-full sm:w-fit">
                                                                
                                <div class="p-4 md:p-5 w-full sm:w-fit flex flex-col items-center">
                                    <div class="w-full flex justify-end">
                                        <button type="button" id="btnClose" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="authentication-modal">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                    </div>
                                    
                                    <form class="space-y-4 flex flex-col items-center w-full">
                                        <div class="flex flex-col sm:flex-row w-full">
                                            <div class="px-4 sm:w-96 w-full">
                                                <div>
                                                    <label for="numCompra" class="block mb-2 text-sm font-medium text-gray-900 ">Numero de compra</label>
                                                    <input type="text" name="numCompra" id="numCompra" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 " required>
                                                </div>
                                                <div>
                                                    <label for="numRemission" class="block mb-2 text-sm font-medium text-gray-900 ">Numero de remision</label>
                                                    <input type="text" name="numRemission" id="numRemission" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 " required>
                                                </div>
                                                <div>
                                                    <label for="numFactura" class="block mb-2 text-sm font-medium text-gray-900 ">Numero de factura</label>
                                                    <input type="text" name="numFactura" id="numFactura" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 " required>
                                                </div>
                                                <div>
                                                    <label for="numCliente" class="block mb-2 text-sm font-medium text-gray-900 ">Clave de cliente</label>
                                                    <input type="text" name="numCliente" id="numCliente" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 " required>
                                                </div>
                                                <p id="nameCostumerView">Cliente no encontrado</p>
                                            </div>
                                            <div class="px-4 sm:w-96 w-full">
                                                <div>
                                                    <label for="piezas" class="block mb-2 text-sm font-medium text-gray-900 ">Piezas</label>
                                                    <input type="number" name="piezas" id="piezas" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 " required>
                                                </div>                                                
                                                <div>
                                                    <label for="remisionado" class="block mb-2 text-sm font-medium text-gray-900 ">Importe remisionado</label>
                                                    <input type="number" name="remisionado" id="remisionado" step="0.01" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 " required>
                                                </div>
                                                <div>
                                                    <label for="facturado" class="block mb-2 text-sm font-medium text-gray-900 ">Importe facturado</label>
                                                    <input type="number" name="facturado" id="facturado" step="0.01" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 " required>
                                                </div>
                                                <p id="total">Total: $ 0</p>
                                                <div>
                                                    <label for="bonificado" class="block mb-2 text-sm font-medium text-gray-900 ">Monto bonificado</label>
                                                    <input type="number" name="bonificado" id="bonificado" step="0.01" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-full p-2.5 " required>
                                                </div> 
                                                <p id="saldo">Saldo: $ 0</p> 
                                            </div>
                                            
                                            
                                        </div>                                                                                
                                                                                
                                    </form>
                                    
                                    <div class="flex w-full justify-center items-center">
                                        <button id="btnSubmit" disabled class="w-1/2 text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Registrar remision</button>

                                        <button type="button" id="btnUpload" class="text-white bg-pink-700 hover:bg-pink-800 rounded-lg text-sm p-2 ml-2 inline-flex justify-center items-center" data-modal-hide="authentication-modal" data-modal-target="upload-modal" data-modal-toggle="upload-modal" >
                                            <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"  viewBox="0 0 640 512">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"  d="M144 480C64.5 480 0 415.5 0 336c0-62.8 40.2-116.2 96.2-135.9c-.1-2.7-.2-5.4-.2-8.1c0-88.4 71.6-160 160-160c59.3 0 111 32.2 138.7 80.2C409.9 102 428.3 96 448 96c53 0 96 43 96 96c0 12.2-2.3 23.8-6.4 34.6C596 238.4 640 290.1 640 352c0 70.7-57.3 128-128 128H144zm79-217c-9.4 9.4-9.4 24.6 0 33.9s24.6 9.4 33.9 0l39-39V392c0 13.3 10.7 24 24 24s24-10.7 24-24V257.9l39 39c9.4 9.4 24.6 9.4 33.9 0s9.4-24.6 0-33.9l-80-80c-9.4-9.4-24.6-9.4-33.9 0l-80 80z"/>
                                            </svg>
                                        </button>
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div id="upload-modal" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto  fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                        <div class="relative p-4 max-h-full w-full sm:w-fit">
                            
                            <div class="relative bg-white rounded-lg shadow w-full sm:w-fit">
                                                                
                                <div class="p-4 md:p-5 w-full sm:w-fit flex flex-col items-center">
                                    <div class="w-full flex justify-end">
                                        <button type="button" id="btnClose" class="end-2.5 text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center" data-modal-hide="upload-modal">
                                            <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                            </svg>
                                            <span class="sr-only">Close modal</span>
                                        </button>
                                    </div>
                                    
                                    <form action="/registro/uploadExcel" enctype="multipart/form-data" method="post" class="w-full my-4">                                        
                                        <label class="block mb-2 text-sm font-medium text-gray-900" for="file_input">Sube tu archivo de excel</label>
                                        <input class="block w-full mb-4 text-sm text-gray-900 border border-gray-300 rounded-lg cursor-pointer bg-gray-50 focus:outline-none" aria-describedby="file_input_help" id="file_input" name="excel" type="file" accept=".xlsx, .xls" required>                                        
                                        <button class="text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">Aceptar</button>
                                    </form>

                                </div>
                            </div>
                        </div>
                    </div> 
                    {% endif %}
                    <button id="btnDownload" class="block w-fit h-fit p-4 mx-4 text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-full text-sm text-center " type="button">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 384 512">
                            <path d="M64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H320c35.3 0 64-28.7 64-64V160H256c-17.7 0-32-14.3-32-32V0H64zM256 0V128H384L256 0zM216 232V334.1l31-31c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0 33.9l-72 72c-9.4 9.4-24.6 9.4-33.9 0l-72-72c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l31 31V232c0-13.3 10.7-24 24-24s24 10.7 24 24z"/>
                        </svg>
                    </button>
                </div>

                <div class="w-screen sm:w-full h-20 overflow-x-auto mb-4 flex items-center justify-between ">
                    
                    <button id="dropdownHoverButton" data-dropdown-toggle="dropdownHover" class="text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 mx-2 text-center inline-flex items-center " type="button">Cliente<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                                        
                    <div id="dropdownHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                        <ul class="p-3 space-y-3 text-sm text-gray-700 w-fit" aria-labelledby="dropdownHoverButton">
                            {% for costumer in costumers %}                                
                                <li>
                                    <div class="flex items-center">
                                      <input id="checkbox-item-{{ costumer[1] }}" type="checkbox" value="{{ costumer[1] }}" class="btnCostumerFilter w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 focus:ring-2">
                                      <label for="checkbox-item-{{ costumer[1] }}" class="ms-2 text-sm font-medium text-gray-900">{{ costumer[0] }}</label>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>                    
                    
                    <button id="dpdState" data-dropdown-toggle="dpdStateHover" class="text-white bg-pink-700 hover:bg-pink-800 focus:ring-4 focus:outline-none focus:ring-pink-300 font-medium rounded-lg text-sm px-5 py-2.5 mx-2 text-center inline-flex items-center " type="button">Estatus<svg class="w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 10 6">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
                        </svg>
                    </button>
                                        
                    <div id="dpdStateHover" class="z-10 hidden bg-white divide-y divide-gray-100 rounded-lg shadow w-44">
                        <ul class="p-3 space-y-3 text-sm text-gray-700 w-fit" aria-labelledby="dpdState">
                            {% for estatus in estatusList %}
                                <li>                                    
                                    <div class="flex items-center">
                                        <input id="checkbox-item-{{ estatus[0] }}" type="checkbox" value="{{ estatus[0] }}" class="statusFilter w-4 h-4 text-pink-600 bg-gray-100 border-gray-300 rounded focus:ring-pink-500 focus:ring-2">
                                        <label for="checkbox-item-{{ estatus[0] }}" class="ms-2 text-sm font-medium text-gray-900">{{ estatus[1] }}</label>
                                      </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>

                    <div>
                        
                        <div date-rangepicker datepicker-format="yyyy/mm/dd" class="flex items-center" onclick="console.log('click div')">
                            <div class="relative  mx-2">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                    </svg>
                                </div>
                                <input id="dateStart" name="start" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-40 sm:w-full ps-10 p-2.5  " placeholder="Inicio">
                            </div>
                                
                            <div class="relative mx-2">
                                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                                    <svg class="w-4 h-4 text-gray-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                        <path d="M20 4a2 2 0 0 0-2-2h-2V1a1 1 0 0 0-2 0v1h-3V1a1 1 0 0 0-2 0v1H6V1a1 1 0 0 0-2 0v1H2a2 2 0 0 0-2 2v2h20V4ZM0 18a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8H0v10Zm5-8h10a1 1 0 0 1 0 2H5a1 1 0 0 1 0-2Z"/>
                                    </svg>
                                </div>
                                <input id="dateEnd" name="end" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-40 sm:w-full ps-10 p-2.5  " placeholder="Fin">
                            </div>
                        </div>
  
                    </div>

                    <div class=" mx-2">
                        <input id="numRemision" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-40 sm:w-full p-2.5 mx-2 " placeholder="# Remision" required>
                    </div>
                    
                    <div class=" mx-2">
                        <input id="numCompraFilter" type="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-pink-500 focus:border-pink-500 block w-40 sm:w-full p-2.5 mx-2 " placeholder="# Compra" required>
                    </div>

                    <a href="/registro/dashboard" class="p-2 mx-4 bg-pink-700 hover:bg-pink-800 text-white rounded-lg">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 384 512">
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                        </svg>
                    </a>
                </div>
                    
                <div class="sm:hidden w-full px-4" id="mainCardsContainer">
                    <div id="containerCards">                                        
                        {% for remission in remissionList %}
                            <a href="remission/{{ remission[0] }}/{{ remission[1] }}" class="w-full h-fit">
                                <div class="shadow-lg w-full h-fit rounded-lg my-4 p-4 hover:bg-gray-200 flex flex-col items-center">
                                    <div>
                                        <p class="font-bold">
                                            {{ remission[3] }}  <!-- cliente -->
                                        </p>
                                        <p>
                                        #Remision: {{ remission[1] }}  <!-- Número de compra --> / #Compra: {{ remission[0] }}<!-- Número de remision -->
                                        </p>
                                        <p>
                                            {{ remission[2] }}<!-- fecha de registro -->
                                        </p>
                                    </div>                                  
                                    <p class="my-2 font-bold">                                    
                                        {{ remission[4] }}  <!-- estatus -->
                                    </p>
                                </div>
                            </a>                        
                        {% endfor %}                    
                    </div>
                </div>
                
                <div class="h-fit hidden sm:block relative overflow-x-auto shadow-md sm:rounded-lg">
                    
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 " id="tableRowsContainer">                        
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                            <tr>
                                <th scope="col" class="w-20 px-2 py-3 text-center">
                                    # compra
                                </th>
                                <th scope="col" class="w-20 px-1 py-3 text-center">
                                    # remision
                                </th>
                                <th scope="col" class="w-40 px-6 py-3 text-center">
                                    Fecha
                                </th>
                                <th scope="col" class="w-80 px-6 py-3 text-center">
                                    Cliente
                                </th>                                
                                <th scope="col" class="w-20 px-6 py-3 text-center">
                                    Remisionado
                                </th>                                
                                <th scope="col" class="w-20 px-6 py-3 text-center">
                                    Facturado
                                </th>                                
                                <th scope="col" class="w-40 px-6 py-3 text-center">
                                    Estatus
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableRows">                            
                            {% for remission in remissionList %}                                
                                <tr  class="bg-white border-b hover:bg-gray-100" >
                                    <td scope="row" class="w-20">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[1] }}  <!-- Número de compra -->
                                        </a>                                        
                                    </td>
                                    <td class="w-20">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[0] }}<!-- Número de remision -->
                                        </a>                                        
                                    </td>
                                    <td class="w-40">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[2] }}<!-- fecha de registro -->
                                        </a>                                        
                                    </td>
                                    <td class="w-80">
                                        <a class="block w-full h-full py-4 px-2"  href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[3] }}  <!-- cliente -->
                                        </a>                                        
                                    </td>                                
                                    <td class="w-20">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            $ {{ remission[5] }}  <!-- remisionado -->
                                        </a>                                        
                                    </td>                                
                                    <td class="w-20">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            $ {{ remission[6] }}  <!-- facturado -->
                                        </a>                                        
                                    </td>                                
                                    <td class="w-40">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[4] }}  <!-- estatus -->
                                        </a>
                                    </td>                                
                                </tr>                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            
            <div class="w-full sm:w-[25vw] sm:h-full flex flex-col justify-center items-center">
                <div class="w-full h-full flex-1 p-4">
                    
                    <div id="barchartContainer" class="w-full bg-white rounded-lg shadow-md p-2">                                            
                        <h5 class="text-xl font-bold leading-none text-gray-900 mb-2 pe-1">Importes</h5>                                                            
                      
                        <div id="column-chart"></div>
                        
                    </div>
  
                </div>
                <div class="w-full h-full flex-1 p-4 ">
                    
                    <div class="w-full bg-white rounded-lg shadow-md p-2">                                                   
                        <h5 class="text-xl font-bold leading-none text-gray-900 pe-1">Ventas clientes</h5>                                                            
                        <div id="donut-chart"></div>                    
                    </div>
                                        
                </div>
            </div>
        </div>

        <script src="{{ url_for('static', filename='js/costumer.js') }}" type="module"></script>    
        <script src="{{ url_for('static', filename='js/addRemission.js') }}" type="module"></script>            
        <script src="{{ url_for('static', filename='js/charts.js') }}" type="module"></script>                    
        <script src="{{ url_for('static', filename='js/filter.js') }}" type="module"></script>                    
        
{% endblock %}