{% extends 'partials/base.html' %}

{% block body %}
    
    <body class="w-screen flex justify-center items-center flex-col">
        {% set userHeader = user %}
        {% include 'partials/header.html' %}
        
        <div class="flex flex-wrap justify-center w-full sm:w-fit sm:h-[90vh] pt-8 pb-4">
            
            <div class="sm:w-[5vw] sm:h-full w-full flex justify-center">
                {% set current = 'confirmarEntrega' %}
                {% set canDoBar = canDo %}
                {% include 'partials/floatingBar.html' %}
            </div>

            <div class="sm:w-[90vw] sm:h-full w-full flex flex-col items-center sm:pt-12 pt-4 px-4">  
                
                <p class="font-bold text-xl sm:mb-8 mb-2">Lista de empleados</p>
            
                <div class="sm:hidden w-full px-4" id="mainCardsContainer">
                    <div id="containerCards">                                        
                        {% for remission in data %}
                            <a href="remission/{{ remission[0] }}/{{ remission[1] }}" class="w-full h-fit">
                                <div class="shadow-lg w-full h-fit rounded-lg my-4 p-4 hover:bg-gray-200 flex flex-col items-center">
                                    <div>
                                        <p class="font-bold">
                                            {{ remission[3] }}  <!-- cliente -->
                                        </p>
                                        <p>
                                        #Remision: {{ remission[1] }}  <!-- Número de compra --> / #Compra: {{ remission[0] }}<!-- Número de remision -->
                                        </p>
                                        <p>
                                            {{ remission[2] }}<!-- fecha de registro -->
                                        </p>
                                    </div>                                  
                                    <p class="my-2 font-bold">                                    
                                        {{ remission[4] }}  <!-- estatus -->
                                    </p>
                                </div>
                            </a>                        
                        {% endfor %}                    
                    </div>
                </div>
                
                <div class="h-fit hidden sm:block relative overflow-x-auto shadow-md sm:rounded-lg">
                    
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 " id="tableRowsContainer">                        
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                            <tr>
                                <th scope="col" class="w-20 px-2 py-3 text-center">
                                    # compra
                                </th>
                                <th scope="col" class="w-20 px-1 py-3 text-center">
                                    # remision
                                </th>
                                <th scope="col" class="w-40 px-6 py-3 text-center">
                                    Fecha
                                </th>
                                <th scope="col" class="w-80 px-6 py-3 text-center">
                                    Cliente
                                </th>                                
                                <th scope="col" class="w-20 px-6 py-3 text-center">
                                    Remisionado
                                </th>                                
                                <th scope="col" class="w-20 px-6 py-3 text-center">
                                    Facturado
                                </th>                                
                                <th scope="col" class="w-40 px-6 py-3 text-center">
                                    Estatus
                                </th>
                                <th scope="col" class="w-40 px-6 py-3 text-center">
                                    Autorizar
                                </th>
                            </tr>
                        </thead>
                        <tbody id="tableRows">                            
                            {% for remission in data %}                                
                                <tr  class="bg-white border-b hover:bg-gray-100" >
                                    <td scope="row" class="w-20">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[1] }}  <!-- Número de compra -->
                                        </a>                                        
                                    </td>
                                    <td class="w-20">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[0] }}<!-- Número de remision -->
                                        </a>                                        
                                    </td>
                                    <td class="w-40">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[2] }}<!-- fecha de registro -->
                                        </a>                                        
                                    </td>
                                    <td class="w-80">
                                        <a class="block w-full h-full py-4 px-2"  href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[3] }}  <!-- cliente -->
                                        </a>                                        
                                    </td>                                
                                    <td class="w-20">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            $ {{ remission[5] }}  <!-- remisionado -->
                                        </a>                                        
                                    </td>                                
                                    <td class="w-20">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            $ {{ remission[6] }}  <!-- facturado -->
                                        </a>                                        
                                    </td>                                
                                    <td class="w-40">
                                        <a class="block w-full h-full py-4 px-4" href="remission/{{ remission[0] }}/{{ remission[1] }}">
                                            {{ remission[4] }}  <!-- estatus -->
                                        </a>
                                    </td>                                
                                    <td class="w-40 flex justify-center py-4 px-4">
                                        <form action="/registro/autorizationRC/{{ remission[0] }}/{{ remission[1] }}"  method="post">
                                            <input type="hidden" name="idUser"  value="{{ user[0] }}">
                                            <input type="hidden" name="origin"  value="many">
                                            <button type="submit" class="w-8 h-8 bg-green-200 hover:bg-green-300 rounded-full flex justify-center items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 448 512">
                                                    <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    </td>                                
                                </tr>                                
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                
            </div>
            
        </div>


{% endblock %}