{% extends 'partials/base.html' %}

{% block body %}
    
    <body class="w-screen flex justify-center items-center flex-col overflow-x-hidden">
        {% set userHeader = user %}
        {% include 'partials/header.html' %}
        
        <div class="flex justify-center h-[90vh] pt-8 pb-4">
            
            <div class="w-[5vw] h-full flex justify-center">
                {% set current = 'remission' %}
                {% set canDoBar = canDo %}
                {% include 'partials/floatingBar.html' %}
            </div>
            <div class="w-[90vw]  flex flex-col items-center">
                <!-- Detail base -->
                <div class="w-3/4 flex justify-between mb-8">
                    <div>
                        <p class="text-2xl font-bold py-2"># remision : {{ data['baseData'][0] }} </p>
                        <p class="text-xl font-semibold"># compra : {{ data['baseData'][1] }}</p>
                    </div>
                    <div>
                        <p class="text-2xl font-bold py-2 px-4">Cliente : {{ data['baseData'][2] }}</p>
                    </div>                        
                                        
                </div>

                <!-- Detail  -->
                <div class="w-3/4">
                    <div class="flex items-center mb-4">
                        <div class="w-12 h-12 flex justify-center items-center bg-pink-600 rounded-full text-white">
                            <p>1</p>
                        </div>
                        
                        <p class="font-bold text-xl px-4 py-2">Detalle de entrega</p>
                    </div>
                    <div class="border-l-pink-600 border-l-4 ml-6 px-8 mb-4">
                        <p>Piezas : {{ data['baseData'][3] }}</p>
                        <p>Importe facturado : ${{ data['baseData'][4] }}</p>
                        <p>Importe remisionado : ${{ data['baseData'][5] }}</p>
                        <p>Saldo bonificado : ${{ data['baseData'][6] }}</p>
                    </div>
                </div>
                <!-- Detail  -->
                <div class="w-3/4">
                    <div class="flex items-center mb-4">
                        <div class="w-12 h-12 flex justify-center items-center bg-pink-600 rounded-full text-white">
                            <p>2</p>
                        </div>
                        
                        <p class="font-bold text-xl px-4 py-2">Detalle de surtimiento / empaque</p>
                    </div>
                    <div class="border-l-gray-600 border-l-4 ml-6 px-8 mb-4">
                        <p>Fecha estimada</p>
                        <p>Fecha de finalizacion</p>
                        <p>Notas</p>                        
                    </div>
                </div>
                <!-- Detail  -->
                <div class="w-3/4">
                    <div class="flex items-center mb-4">
                        <div class="w-12 h-12 flex justify-center items-center bg-pink-600 rounded-full text-white">
                            <p>3</p>
                        </div>
                        
                        <p class="font-bold text-xl px-4 py-2">Detalle de logistica</p>
                    </div>
                    <div class="border-l-gray-600 border-l-4 ml-6 px-8 mb-4">
                        <p>Fecha estimada</p>
                        <p>Fecha de finalizacion</p>
                        <p>Notas</p>               
                    </div>
                </div>
                <!-- Detail  -->
                <div class="w-3/4">
                    <div class="flex items-center mb-4">
                        <div class="w-12 h-12 flex justify-center items-center bg-pink-600 rounded-full text-white">
                            <p>4</p>
                        </div>
                        
                        <p class="font-bold text-xl px-4 py-2">Confirmacion de entrega</p>
                    </div>
                    <div class="border-l-gray-600 border-l-4 ml-6 px-8 mb-4">
                        <p>Fecha de entrega:</p>
                        <p>Notas:</p>                        
                    </div>
                </div>
                <!-- Detail  -->
                <div class="w-3/4">
                    <div class="flex items-center mb-4">
                        <div class="w-12 h-12 flex justify-center items-center bg-pink-600 rounded-full text-white">
                            <p>5</p>
                        </div>
                        
                        <p class="font-bold text-xl px-4 py-2">Registro de pagos</p>
                    </div>
                    <div class="border-l-gray-600 border-l-4 ml-6 px-8 mb-4">
                        <p>Cantidad:</p>
                        <p>Cobrador:</p>                        
                        <p>Fecha:</p>                        
                    </div>
                </div>
                <!-- Detail  -->
                <div class="w-3/4">
                    <div class="flex items-center mb-4">
                        <div class="w-12 h-12 flex justify-center items-center bg-pink-600 rounded-full text-white">
                            <p>6</p>
                        </div>
                        
                        <p class="font-bold text-xl px-4 py-2">Confirmacion de pagos</p>
                    </div>
                    <div class="border-l-gray-600 border-l-4 ml-6 px-8 mb-4">
                        <p>Cantidad:</p>
                        <p>Responsable:</p>                        
                    </div>
                </div>
                <div class="w-3/4">
                    <div class="flex items-center mb-4">                                            
                        <p class="font-bold text-xl px-4 py-2">Adicionales</p>
                        <br>
                        
                    </div>
                    <div class="ml-12 px-8 mb-4">
                        <p class="font-bold text-xl px-4 py-2">Devoluciones</p>
                        <p>Cantidad:</p>
                        <p>Detalle:</p>                        
                    </div>
                </div>


            </div>
        </div>
        

{% endblock %}