{% extends 'partials/base.html' %}

{% block body %}
    
    <body class="w-screen flex justify-center items-center flex-col">
        {% set userHeader = user %}
        {% include 'partials/header.html' %}
        
        <div class="flex justify-center h-[90vh] pt-8 pb-4">
            
            <div class="w-[5vw] h-full flex justify-center">
                {% set current = 'user' %}
                {% include 'partials/floatingBar.html' %}
            </div>

            <div class="bg-red-200 w-[95vw] h-full flex justify-center items-center">
                User list
            </div>
            
        </div>

{% endblock %}