{% extends 'partials/base.html' %}

{% block body %}
    
    <body class="w-screen flex justify-center items-center flex-col">
        {% set userHeader = user %}
        {% include 'partials/header.html' %}
        
        <div class="flex flex-wrap justify-center w-full sm:w-fit sm:h-[90vh] pt-8 pb-4">
            
            <div class="sm:w-[5vw] sm:h-full w-full flex justify-center">
                {% set current = 'user' %}
                {% set canDoBar = canDo %}
                {% include 'partials/floatingBar.html' %}
            </div>

            <div class="sm:w-[60vw] sm:h-full w-full flex flex-col items-center sm:pt-12 pt-4 px-4">  
                
                <p class="font-bold text-xl sm:mb-8 mb-2">Lista de empleados</p>

                <div class="h-fit relative overflow-x-auto shadow-md sm:rounded-lg hidden sm:block">
                    <table class="w-full text-sm text-left rtl:text-right text-gray-500 ">
                        <thead class="text-xs text-gray-700 uppercase bg-gray-50 ">
                            <tr>
                                <th scope="col" class="px-6 py-3">
                                    Numero de empleado
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Nombre
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Area
                                </th>
                                <th scope="col" class="px-6 py-3">
                                    Fecha de registro
                                </th>
                                {% if admin == True %}
                                    <th scope="col" class="px-6 py-3">
                                        Estatus
                                    </th>
                                {% endif %}
                            </tr>
                        </thead>
                        <tbody>                            
                            {% for user in userList %}
                                <tr class="bg-white border-b hover:bg-gray-50">
                                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap">
                                        {{ user[0] }}  <!-- Número de empleado -->
                                    </th>
                                    <td class="px-6 py-4">
                                        {{ user[1] }}  <!-- Nombre -->
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ user[8] }}  <!-- Área -->
                                    </td>
                                    <td class="px-6 py-4">
                                        {{ user[6] }}  <!-- Fecha de registro -->
                                    </td>
                                    {% if admin == True %}
                                        <td class="px-6 py-4 flex justify-center">                                        
                                            {% if user[3] == 1 %}
                                                <form action="turnOffUser" method="post">
                                                    <input type="hidden" name="idUser"  value="{{ user[0] }}">                                            
                                                    <button type="submit" class="w-8 h-8 bg-green-200 hover:bg-green-300 rounded-full flex justify-center items-center">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 448 512">
                                                            <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                            {% else %}
                                                <form action="turnOnUser" method="post">
                                                    <input type="hidden" name="idUser"  value="{{ user[0] }}">                                            
                                                    <button type="submit" class="w-8 h-8 bg-red-200 hover:bg-red-300 rounded-full flex justify-center items-center">                                                                                     
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 384 512">
                                                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                                                        </svg>
                                                    </button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="sm:hidden w-full px-4">
                    {% for user in userList %}                        
                        <div class="shadow-lg w-full h-fit rounded-lg my-4 p-4 hover:bg-gray-200 flex justify-between">
                            <div>
                                <p class="font-bold">
                                    {{ user[0] }} / {{ user[1] }}
                                </p>
                                <p class="font-bold">
                                    {{ user[8] }}
                                </p>
                                <p class="text-xs">
                                    {{ user[6] }}<!-- fecha de registro -->
                                </p>                        
                            </div>                                  
                            {% if admin == True %}
                                <td class="px-6 py-4 flex justify-center">                                        
                                    {% if user[3] == 1 %}
                                        <form action="turnOffUser" method="post">
                                            <input type="hidden" name="idUser"  value="{{ user[0] }}">                                            
                                            <button type="submit" class="w-8 h-8 bg-green-200 hover:bg-green-300 rounded-full flex justify-center items-center">
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 448 512">
                                                    <path d="M438.6 105.4c12.5 12.5 12.5 32.8 0 45.3l-256 256c-12.5 12.5-32.8 12.5-45.3 0l-128-128c-12.5-12.5-12.5-32.8 0-45.3s32.8-12.5 45.3 0L160 338.7 393.4 105.4c12.5-12.5 32.8-12.5 45.3 0z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    {% else %}
                                        <form action="turnOnUser" method="post">
                                            <input type="hidden" name="idUser"  value="{{ user[0] }}">                                            
                                            <button type="submit" class="w-8 h-8 bg-red-200 hover:bg-red-300 rounded-full flex justify-center items-center">                                                                                     
                                                <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="w-4 h-4" viewBox="0 0 384 512">
                                                    <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
                                                </svg>
                                            </button>
                                        </form>
                                    {% endif %}
                                </td>
                            {% endif %}
                        </div>                        
                    {% endfor %}                    
                </div>

            </div>
            
            <div class="sm:w-[35vw] sm:h-full w-full flex flex-col items-center pt-12 px-4">
                <p class="font-bold text-xl mb-8">Nuevo usuario</p>

                <form class="flex justify-center items-center flex-col sm:w-96 w-full" action="newUser" method="post" id="signupForm">
                    <div class="mb-5 w-full">
                        <label for="idWorker" class="block mb-2 text-sm font-medium text-gray-900">Numero de empleado</label>
                        <input type="text" id="idWorker" name="idWorker" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-fuchsia-500 focus:border-fuchsia-500 block sm:w-96 w-full p-2.5 " required>
                    </div>
                    <div class="mb-5 w-full">
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900">Nombre</label>
                        <input type="text" id="name" name="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-fuchsia-500 focus:border-fuchsia-500 block sm:w-96 w-full p-2.5 " required>
                    </div>
                    <div class="mb-5 w-full">
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900">Contraseña</label>
                        <input type="password" id="password" name="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-fuchsia-500 focus:border-fuchsia-500 block  sm:w-96 w-full p-2.5 " required>
                    </div>
    
                    <div class="mb-5 w-full">
                        <label for="passwordVerify" class="block mb-2 text-sm font-medium text-gray-900">Verifica contraseña</label>
                        <input type="password" id="passwordVerify" name="passwordVerify" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-fuchsia-500 focus:border-fuchsia-500 block sm:w-96 w-full p-2.5 " required>
                    </div>
                    
                    
                        <div class="mb-5 w-full">
                            <label for="area" class="block mb-2 text-sm font-medium text-gray-900">Area</label>
                            <select id="area" name="area" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-fuchsia-500 focus:border-fuchsia-500 block sm:w-96 w-full p-2.5 " required>
                                {% if areas %}
                                    {% for area in areas %}
                                        <option value="{{area[1]}}">{{area[0]}}</option>
                                    {% endfor %}
                                {% endif %}

                                {% if 'asignarChofer' in canDo %}
                                    <option value="4">chofer</option>
                                {% endif %}
                            </select>
                        </div>
                    
                    <button type="button" onclick="validatePasswords()" class="text-white bg-[#C44890] hover:bg-fuchsia-800 focus:ring-4 focus:outline-none focus:ring-fuchsia-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center w-40">Aceptar</button>
                </form>            
            </div>
            
        </div>

        <script>
            function validatePasswords() {
                var name = document.getElementById("name").value;
                var idWorker = document.getElementById("idWorker").value;
                var password = document.getElementById("password").value;
                var passwordVerify = document.getElementById("passwordVerify").value;

                if (name === "" || idWorker === "" || password === "" || passwordVerify === "") {
                    alert("Todos los campos deben ser completados.");
                    return false;
                }
    
                if (password === passwordVerify) {
                    document.getElementById("signupForm").submit();
                } else {
                    alert("Las contraseñas no coinciden, por favor verifícalas.");
                }
            }
        </script>

{% endblock %}